.icon {
  path {
    fill: white;
  }
  &:not(:last-child) {
    margin-right: 1em;
  }
}

.bg-color-fill {
  fill: $base !important;
}

.icon.circle #circle-inner {
  transform-origin: 50% 50%;
}

.icon.pin .circle {
  transform-origin: 51.499px 51.25px;
}

#pulse-line {
  transform-origin: 50% 50%;
}