.icon {
  path {
    fill: white;
  }
  &:not(:last-child) {
    margin-right: 1em;
  }
}

.pin .circle {
  transform-origin: 51.499px 51.25px;
}

.icon.nurse path {
  fill: rgba(0,0,0,0);
}

.icon.circle path {
  transform-origin: 50% 50%;
}

#pulse-line {
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  transform-origin: 50% 50%;

  .reveal & {
    animation: showPulse 2s linear forwards;
  }
  .hide & {
    animation: hidePulse 0.5s linear forwards;
  }
}

@keyframes showPulse {
  0% {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes hidePulse {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  }
}