@import 'colors';
@import 'spacing';

html,
body {
    margin: 0;
    background-color: $white;
}

body {
    display: block;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0.5rem;
}

p:last-child {
    margin-bottom: 0;
}